.column-100{
    background-image: url(./img/banner-2.jpg);
    background-size: cover;
    background-position: center;
    padding: 300px;
    height: 300px;
} 
h1{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 70px;
}
.row{
    height: 100px;
    clear:both
}
#titulo{
    font-family: 'Nunito', sans-serif;
    font-size: 85px;
}
#titulo2{
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
}
.column-50{
    width: 50%;
    float: left
}
.column-img{
    width: 50%;
    float: right;
    margin-top: 100px;
}

#titulo3{
    font-family: 'Nunito', sans-serif;
    font-size: 85px;
    text-align: center;
}
.column-33{
    background-color: rgba(56, 237, 152, 0.942);
    font-family: 'Nunito', sans-serif;
}
.column-img2{
    display: flex;
    width: 33.50%;
}
.column-505{
    width: 50%;
    float: right
}
#titulo4{
    font-family: 'Nunito', sans-serif;
    font-size: 85px;
}
#titulo5{
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
}
.column-img3{
    width: 50%;
    float: left;
    margin-top: 255px;
}
.columnimg{
    display: flex;
}
.columnimg img{
    width: 25%;
}
.column-1002{
    height: 10%;
    margin-top: 268px;
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-size: 88px;
    text-align: center;
    background-color: rgb(0, 145, 255);
}
.row4{
    background-color: black;
    height: 170%;
    clear:both 
}
#titulo7{
    color: white;
    padding: 20.33px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    width: 33.33%;
}
.column33{
    display: flex;
    color: white;
    font-family: 'Nunito', sans-serif;
    width: 32.33%;
    float: right;
}
.no-numeros{
    list-style-type: none;
}